 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 :root {
     --Green: hsl(75, 94%, 57%);
     --White: hsl(0, 0%, 100%);
     --Grey_700: hsl(0, 0%, 20%);
     --Grey_800: hsl(0, 0%, 12%);
     --Grey_900: hsl(0, 0%, 8%);

 }

 body {
     background-color: var(--Grey_900);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
 }

 .container {

     max-width: 400px;
     background-color: var(--Grey_800);
     width: 100%;
     padding: 24px;
     border-radius: 10px;
     margin-bottom: 5px;

 }

 .container img {
     width: 40%;
     height: 40%;
     border-radius: 50%;
     display: block;
     padding: 24px;
     margin-inline: auto;
     margin-bottom: 1.25rem;
 }

 h1 {
     color: var(--White);
     font-size: 1.5rem;
     text-align: center;
 }

 span {
     display: block;
     color: var(--Green);
     font-size: 1rem;
     margin: 0.5rem 0 1rem;
 }

 p {
     color: #fff;
     text-align: center;
 }

 ul {
     list-style-type: none;
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
     margin-top: 2rem;
 }

 button {
     background-color: hsl(0, 0%, 18%);
     color: #fff;
     font-size: 1rem;
     width: 100%;
     padding: 1rem;
     border: none;
     border-radius: 0.5rem;
     cursor: pointer;
     outline: none;

     &:hover {
         background-color: var(--Green);
         color: var(--Grey_900);
     }
 }

 .attribution {
     color: white;
     margin-top: 11px;
     font-size: 11px;
     text-align: center;
 }

 .attribution a {

     color: hsl(228, 45%, 44%);
 }